* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* find out how to properly center a content */
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: rgb(201, 217, 212);

}

.pword {
    width: 100%;

}

.icon {
    place-items: center;
}
p {
    text-align: center;
}

h4 {
    text-align: center;
    font-family: sans-serif;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.enter {
    width: 100%;

   
}